bucket         = "monitoring-dashboard-terraform-state"
key            = "staging/terraform.tfstate"
region         = "eu-north-1"
dynamodb_table = "monitoring-dashboard-terraform-locks"
encrypt        = true
